<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Dashboard</h1>
    <button mat-flat-button color="warn" (click)="openEmployeesPreview()">Bulk edit</button>
  </mat-toolbar>

  <dashboard-info [numberOfEmployees]="numberOfEmployees" [totalAmountPaidForRegularHours]="totalAmountPaidForRegularHours" [totalOvertimeAmountPaidForOvertimeHours]="totalOvertimeAmountPaidForOvertimeHours" [totalClockedInTime]="totalClockedInTime"></dashboard-info>

  <div class="table">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalClockedInTime">
        <th mat-header-cell *matHeaderCellDef> Total Clocked in a time </th>
        <td mat-cell *matCellDef="let element"> {{element.totalClokedIn}} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalAmountPaidForRegularHours">
        <th mat-header-cell *matHeaderCellDef> Total amount paid for regular hours </th>
        <td mat-cell *matCellDef="let element"> {{element.hourlyRate}} </td>
      </ng-container>

      <ng-container matColumnDef="totalOvertimeAmountPaidForOvertimeHours">
        <th mat-header-cell *matHeaderCellDef> Total overtime amount paid for overtime hours </th>
        <td mat-cell *matCellDef="let element"> {{element.overtimeHourlyRate}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <div *ngIf="!dataSource.data.length">
      No Records Found!
    </div>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]"
      showFirstLastButtons 
      aria-label="Select page of employees">
    </mat-paginator>

  </div>
  <div *ngIf="loader" class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</app-layout>