<mat-card>
    <div>
      <b>
        Total number of employees:
      </b>
      {{numberOfEmployees}}
    </div>
    <span>|</span> 
    <div>
      <b>
        Total clocked in time:
      </b>
       {{totalClockedInTime}}h 
    </div>
    <span>|</span> 
    <div>
      <b>
        Total amount paid for regular hours: 
      </b>
      {{totalAmountPaidForRegularHours}}h 
    </div>
    <span>|</span>
    <div>
      <b>
        Total overtime amount paid for overtime hours: 
      </b>
      {{totalOvertimeAmountPaidForOvertimeHours}}h
    </div>
  </mat-card>